<div class="container">
  <div class="row">
    <div class="d-flex flex-column justify-content-around align-items-center">
      <h1 class="my-3">Nouvel événement</h1>

      <%= form_with model: @event, multipart: true do |form| %>
        <div class="form-group mb-3">
          <%= form.label "Date de début" %><br>
          <%= form.datetime_local_field :start_date, min: Date.today %>
          <% @event.errors.full_messages_for(:start_date).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div class="form-group mb-3">
          <%= form.label "Durée en minutes" %><br>
          <%= form.select :duration, (5..120).step(5).to_a %>
          <% @event.errors.full_messages_for(:duration).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
        
        <div class="form-group mb-3"select_datetimselect_datetimee>
          <%= form.label "Titre" %><br>
          <%= form.text_field :title %>
          <% @event.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div class="form-group mb-3">
          <%= form.label "Description" %><br>
          <%= form.text_area :description %>
          <% @event.errors.full_messages_for(:description).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
        
        <div class="form-group mb-3">
          <%= form.label "Prix" %><br>
          <%= form.text_field :price %>
          <% @event.errors.full_messages_for(:price).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div class="form-group mb-3">
          <%= form.label "Lieu" %><br>
          <%= form.text_field :location %>
          <% @event.errors.full_messages_for(:location).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div class="form-group mb-3">
          <%= form.label "Image" %><br>
          <%= file_field_tag :image %>
          <% @event.errors.full_messages_for(:image).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.submit "Créer", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
